.form-label {
  color: #20338B;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 700;
  word-wrap: break-word;
  margin-bottom: 5px;
}

.card-body {
  background-color: #E1E6FC;
  padding: 20px;
  border-radius: 10px;
}

.olvidatext {
  color: #20338B;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 400;
  word-wrap: break-word;
}

.button {
  color: white;
  font-size: 16px;
  font-family: Montserrat;
  font-weight: 600;
  word-wrap: break-word
}

.btn-full-width {
  width: 100%;
}